version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: app-postgres
    environment:
      POSTGRES_DB: olisaude
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: senha123
    ports:
      - "5432:5432"
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: app-backend
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - app-network

networks:
    app-network:
      driver: bridge